# Primary (global) repo maintainers
*       @colinkim @Minho LEE @Martin Bhatta

# Documentation
docs/ @nannarae

# Reapchain Modules
x/epochs/ @Minho LEE
x/erc20/ @Minho LEE @nannarae
x/incentives/ @colinkim
x/claims/ @Martin Bhatta
